<p>
    The dragging cursor can be changed. Here are some examples of different cursors you can use.
</p>
<div id="box">
    <div moveit-item class="redBall"></div>
    <div moveit-item class="blueBall"></div>
</div>
<div>
    <b>Cursor</b><br>
    <label>
        <input type="radio"name="cursor" value="default" onclick="radioClick(this)">
        Default
    </label><br>
    <label>
        <input type="radio" name="cursor" value="pointer" onclick="radioClick(this)">
        Pointer
    </label><br>
    <label>
        <input type="radio" name="cursor" value="move" onclick="radioClick(this)">
        Move
    </label><br>
    <label>
        <input type="radio" name="cursor" value="grabbing" onclick="radioClick(this)">
        Grabbing
    </label><br>
    <label>
        <input type="radio" name="cursor" value="crosshair" onclick="radioClick(this)">
        Crosshair
    </label>
</div>