<h2>Dragging Weight</h2>
<p>
    Different weights change how fast the held item will follow your cursor. Try dragging!
</p>
<div class="box">
    <div moveit-item class="card-2">
        <img src="res/feather.png">
    </div>
    <div moveit-item class="card-2">
        <img src="res/weight.png">
    </div>
</div>
<h3>Weight</h3>
<label>
    Enter Number:
    <input class="input" type="number" min="0" value="0" onclick="inputChange(this)">
</label>
<div class="code">
    <h3>JavaScript</h3>
    <pre><code>MoveIt.dragWeight = 0;</code></pre>
</div>
