<h2>Action Functions</h2>
<p>
    Elements can have functions you can set for different states.
</p>
<div class="box">
    <div moveit-item class="ball">
        <img src="image/example/soccer.png">
    </div>
    <div moveit-item class="ball">
        <img src="image/example/basketball.png">
    </div>
    <div class="action">
        <p>Nothing is happening</p>
    </div>
</div>
<div class="code">
    <h3>JavaScript</h3>
    <pre><code>// Element to update
const textField = document.querySelector(...);

// Functions
MoveIt.onHold = (heldElement) => {
    const elementText = MoveIt.getIdByItem(heldElement) === 0 ? "Soccer ball" : "Basketball";
    textField.innerText = elementText + " is being held";
}

MoveIt.onRelease = (releasedItem, itemOver) => {
    const releasedText = MoveIt.getIdByItem(releasedItem) === 0 ? "Soccer ball" : "Basketball";
    if (typeof itemOver !== "undefined") {
        const overText = MoveIt.getIdByItem(itemOver) === 0 ? "Soccer ball" : "Basketball";
        textField.innerText = releasedText + " was released over " + overText;
    } else {
        textField.innerText = releasedText + " was released";
    }
}

MoveIt.onSwap = (releasedItem, itemOver) => {
    const releasedText = MoveIt.getIdByItem(releasedItem) === 0 ? "Soccer ball" : "Basketball";
    const overText = MoveIt.getIdByItem(itemOver) === 0 ? "Soccer ball" : "Basketball";
    textField.innerText += "\n" + releasedText + " swapped with " + overText;
}</code></pre>
</div>
<h2>Deleting Items</h2>
<p>
    Using actions functions, you can create a method of deleting items.
</p>
<div class="box">
    <div moveit-item class="trashcan">
        <img src="image/example/recycle.png">
    </div>
    <div moveit-item class="ball">
        <img src="image/example/soccer.png">
    </div>
    <div moveit-item class="ball">
        <img src="image/example/basketball.png">
    </div>
    <div moveit-item class="ball">
        <img src="image/example/soccer.png">
    </div>
    <div moveit-item class="ball">
        <img src="image/example/basketball.png">
    </div>
</div>
<div class="code">
    <h3>JavaScript</h3>
    <pre><code>//Make sure nothing drags with the trashcan
MoveIt.removeDraggableWith([0], undefined);
MoveIt.setDraggableWith([1,2,3,4],[1,2,3,4]);

MoveIt.onRelease = (releasedItem, itemOver) => {
    if (MoveIt.getIdByItem(itemOver) === 0) {
        releasedItem.parentElement.removeChild(releasedItem);
    }
};</code></pre>
</div>