<h2>Customizing Elements</h2>
<h3>Change All Elements</h3>
<p>
    Elements can be set to something different when Dragging. Try dragging!
</p>
<div class="box">
    <div moveit-item class="picture">1</div>
    <div moveit-item class="picture">2</div>
</div>
<p>
    In this example, the item changes to a red rectangle when it gets picked up. The actual item being held becomes a black circle.
    When hovering over the another item, the hovered item changes to a blue rectangle.
</p>
<div class="code">
    <h3>JavaScript</h3>
    <pre><code>// Make sure cursor is at the center of the held item
MoveIt.holdCenter = true;


// Create elements to use
const held = document.createElement("div");
held.style.height = "60px";
held.style.width = "60px";
held.style.backgroundColor = "black";
held.style.borderRadius = "50%";

const hover = document.createElement("div");
hover.style.height = "208px";
hover.style.width = "268px";
hover.style.backgroundColor = "blue";

const origin = document.createElement("div");
origin.style.height = "208px";
origin.style.width = "268px";
origin.style.backgroundColor = "red";


// Apply elements for all items
MoveIt.elementHeld = held;
MoveIt.elementHover = hover;
MoveIt.elementOrigin = origin;</code></pre>
</div>
<b>Warning</b>
<p>
    If the element used for <code style="font-size: 12pt;">moveIt.elementHover</code> is a different size than the original item,
    it could cause hovering inaccuracy.
</p>
<h3>Change Individual Element</h3>
<p>
    Each element can be set Individuallly. Try dragging!
</p>
<div class="box">
    <div moveit-item class="ball">
        <img src="res/basketball.png">
    </div>
    <div moveit-item class="ball">
        <img src="res/soccer.png">
    </div>
    <div moveit-item class="ball">
        <img src="res/basketball.png">
    </div>
</div>
<p>
    In this example, the soccerball spins when it is picked up. It also disappears from its original location. When hovering a basketball,
    the ball becomes translucent.
</p>
<div class="row">
    <div class="code">
        <h3>JavaScript</h3>
        <pre><code>MoveIt.itemProperty.forEach(itemProp => {
    // id of soccerball item
    if (itemProp.id === 3) {
        itemProp.elementHeldStyle = "animation: spin 0.5s infinite linear;";
        itemProp.elementOriginStyle = "visibility: hidden;";
    } else {
        itemProp.elementHoverStyle = "opacity: 0.5";
    }
});</code></pre>
    </div>
    <div class="code">
        <h3>CSS</h3>
        <pre><code>@keyframes spin {
    0%  {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}   
}</code></pre>
    </div>
</div>