<div id="navbar">
    <a id="logo" href="/">Move<span class="dark-blue">It</span>.js</a>
      <div id="menu">
        <a href="/examples">Examples</a>
        <a href="/download" target="_blank">Download</a>
        <a href="/documentation">Getting Started</a>
      </div>
</div>