<div class="navigation">
	<a {{#if_str_eq content 'style'}} class="selected" {{/if_str_eq}} href="?page=style">Element Style</a>
	<a {{#if_str_eq content 'group'}} class="selected" {{/if_str_eq}} href="?page=group">Swap Groups</a>
	<a {{#if_str_eq content 'action'}} class="selected" {{/if_str_eq}} href="?page=action">Action Functions</a>
	<a {{#if_str_eq content 'cursor'}} class="selected" {{/if_str_eq}} href="?page=cursor">Hold Cursor</a>
	<a {{#if_str_eq content 'weight'}} class="selected" {{/if_str_eq}} href="?page=weight">Drag Weight</a>
</div>
<div class="example">
	<h1>Examples</h1>
	{{#if_str_eq content 'style'}}
{{>exampleStyle}}
	{{/if_str_eq}}
	{{#if_str_eq content 'group'}}
{{>exampleGroup}}
	{{/if_str_eq}}
	{{#if_str_eq content 'action'}}
{{>exampleAction}}
	{{/if_str_eq}}
	{{#if_str_eq content 'cursor'}}
{{>exampleCursor}}
	{{/if_str_eq}}
	{{#if_str_eq content 'weight'}}
{{>exampleWeight}}
	{{/if_str_eq}}
</div>
<script type="text/javascript" src="js/MoveIt.js"></script>
<script type="text/javascript" src="js/example-{{content}}.js"></script>