<h1 id="notFound">
    <span moveit-item>Page</span> 
    <span moveit-item>Not</span> 
    <span moveit-item>Found</span>...
</h1>
<script type="text/javascript" src="{{url}}/js/MoveIt.js"></script>
<script type="text/javascript" src="{{url}}/js/notFound.js"></script>