<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <link rel="icon" href="../image/icon/app-icon.svg"/>
        <link rel="stylesheet" type="text/css" href="../css/email.css">
    </head>
    <body>
        <div class="navbar">
            <h2 class="logo">EmailSite</h2>
            <div class="searchbar">Fake Searchbar
                <img src="../image/icon/email/search.svg">
            </div>
            <img src="../image/icon/email/account.svg">
        </div>
        <div class="content">
            <div class="sidebar">
                <div class="side-big-button">
                    Compose
                    <img src="../image/icon/email/add.svg">
                </div>
                <div moveit-item class="side-button">
                    Inbox
                    <img src="../image/icon/email/inbox.svg">
                </div>
                <div moveit-item class="side-button">
                    Important
                    <img src="../image/icon/email/flag.svg">
                </div>
                <div moveit-item class="side-button">
                    Drafts
                    <img src="../image/icon/email/drafts.svg">
                </div>
                <div moveit-item class="side-button selected">
                    All Mail
                    <img src="../image/icon/email/all_inbox.svg">
                </div>
                <div moveit-item class="side-button">
                    Sent
                    <img src="../image/icon/email/send.svg">
                </div>
            </div>
            <div class="overflow">
                <div class="table">
                    <div class="header">
                        <div class="cell"><img src="../image/icon/email/check_box.svg"></div>
                        <div class="cell"></div>
                        <div class="cell"></div>
                        <div class="cell"></div>
                    </div>
                    <div moveit-item class="row">
                        <div class="cell"><img src="../image/icon/email/check_box.svg"></div>
                        <div class="cell">U of T</div>
                        <div class="cell">Welcome back to school! Here are some new programs that you might like to join: www.uoft.com</div>
                        <div class="cell">Aug 21</div>
                    </div>
                    <div moveit-item class="row">
                        <div class="cell"><img src="../image/icon/email/check_box.svg"></div>
                        <div class="cell">Adobe Creative Cloud</div>
                        <div class="cell">
                            Simple, sophisticated,
                            or striking — design with the best.
                            It all comes together with Creative Cloud design apps. Get going with Adobe...
                        </div>
                        <div class="cell">Aug 20</div>
                    </div>
                    <div moveit-item class="row">
                        <div class="cell"><img src="../image/icon/email/check_box.svg"></div>
                        <div class="cell">Spotify</div>
                        <div class="cell">Listen to New music</div>
                        <div class="cell">Aug 20</div>
                    </div>
                    <div moveit-item class="row">
                        <div class="cell"><img src="../image/icon/email/check_box.svg"></div>
                        <div class="cell">norepy</div>
                        <div class="cell">Your payment of $99 has been recieved</div>
                        <div class="cell">Aug 20</div>
                    </div>
                    <div moveit-item class="row">
                        <div class="cell"><img src="../image/icon/email/check_box.svg"></div>
                        <div class="cell">John Smith</div>
                        <div class="cell">Hello Bob, I can I get your business card so I can give to my friends?</div>
                        <div class="cell">Aug 19</div>
                    </div>
                    <div moveit-item class="row">
                        <div class="cell"><img src="../image/icon/email/check_box.svg"></div>
                        <div class="cell">Spam</div>
                        <div class="cell">Click Here! Click Here! Click Here! Click Here!</div>
                        <div class="cell">Aug 19</div>
                    </div>
                    <div moveit-item class="row">
                        <div class="cell"><img src="../image/icon/email/check_box.svg"></div>
                        <div class="cell">YouTube</div>
                        <div class="cell">You subscribed to John Smith. This creator posted more videos. Sign up to recieve more notifications</div>
                        <div class="cell">Aug 18</div>
                    </div>
                    <div moveit-item class="row">
                        <div class="cell"><img src="../image/icon/email/check_box.svg"></div>
                        <div class="cell">Lorem ipsum</div>
                        <div class="cell">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                            dolore magna aliqua. Ut...
                        </div>
                        <div class="cell">Aug 18</div>
                    </div>
                    <div moveit-item class="row">
                        <div class="cell"><img src="../image/icon/email/check_box.svg"></div>
                        <div class="cell">Lorem ipsum</div>
                        <div class="cell">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                            dolore magna aliqua. Ut...
                        </div>
                        <div class="cell">Aug 17</div>
                    </div>
                    <div moveit-item class="row">
                        <div class="cell"><img src="../image/icon/email/check_box.svg"></div>
                        <div class="cell">Lorem ipsum</div>
                        <div class="cell">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                            dolore magna aliqua. Ut...
                        </div>
                        <div class="cell">Aug 16</div>
                    </div>
                    <div moveit-item class="row">
                        <div class="cell"><img src="../image/icon/email/check_box.svg"></div>
                        <div class="cell">Lorem ipsum</div>
                        <div class="cell">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                            dolore magna aliqua. Ut...
                        </div>
                        <div class="cell">Aug 15</div>
                    </div>
                    <div moveit-item class="row">
                        <div class="cell"><img src="../image/icon/email/check_box.svg"></div>
                        <div class="cell">Lorem ipsum</div>
                        <div class="cell">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                            dolore magna aliqua. Ut...
                        </div>
                        <div class="cell">Aug 14</div>
                    </div>
                    <div moveit-item class="row">
                        <div class="cell"><img src="../image/icon/email/check_box.svg"></div>
                        <div class="cell">Lorem ipsum</div>
                        <div class="cell">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                            dolore magna aliqua. Ut...
                        </div>
                        <div class="cell">Aug 13</div>
                    </div>
                    <div moveit-item class="row">
                        <div class="cell"><img src="../image/icon/email/check_box.svg"></div>
                        <div class="cell">Lorem ipsum</div>
                        <div class="cell">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                            dolore magna aliqua. Ut...
                        </div>
                        <div class="cell">Aug 12</div>
                    </div>
                    <div moveit-item class="row">
                        <div class="cell"><img src="../image/icon/email/check_box.svg"></div>
                        <div class="cell">Lorem ipsum</div>
                        <div class="cell">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                            dolore magna aliqua. Ut...
                        </div>
                        <div class="cell">Aug 11</div>
                    </div>
                    <div moveit-item class="row">
                        <div class="cell"><img src="../image/icon/email/check_box.svg"></div>
                        <div class="cell">Lorem ipsum</div>
                        <div class="cell">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                            dolore magna aliqua. Ut...
                        </div>
                        <div class="cell">Aug 10</div>
                    </div>
                </div>
            </div>
            <div moveit-item class="trash">
                <img src="../image/icon/email/delete.svg">
            </div>
        </div>
        <script type="text/javascript" src="../js/MoveIt.js"></script>
        <script type="text/javascript" src="../js/email.js"></script>
    </body>
</html>
