.row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.menu {
    display: flex;
    flex-direction: column;
    min-width: 160px;
    background-color: #F0F0F0;
    border-radius: 14px;
}

.menu > a {
    text-decoration: none;
    color: black;
    margin: 10px 20px;
    text-align: start;
    transition: all ease-in-out 0.2s;
}

.menu > a:hover {
    color: gray;
}

.menu > .selected {
    color: royalblue;
}

.example {
    flex-grow: 1;
    padding: 10px;
}

#box {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /*border: solid 2px wheat;
    background-color: antiquewhite;*/
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 10px;
}

.redBall, .blueBall {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.redBall {
    background-color: red;
}

.blueBall {
    background-color: blue;
}

.radio {
    font-family: Poppins;
    font-size: 12pt;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    box-shadow: none;
}

.radio > img {
    margin-right: 10px;
    height: 12px;
}