html {
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    margin: 10px;
}

::-webkit-scrollbar-thumb {
    border: 6px solid white;
    border-radius: 10px;
    background: lightgray;
}

::-webkit-scrollbar-thumb:hover {
    background: #AAAAAA;
}

#navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid lightgray;
    font-weight: bold;
    padding: 10px 20px;
}

#navbar #logo {
    font-family: Quicksand, Arial;
    font-size: x-large;
    font-weight: bolder;
}

#navbar a {
    border: 0px;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    padding: 10px 20px;
}

#navbar #selected {
    color: white;
    /* Gradient https://cssgradient.io/*/
    background-image: linear-gradient( 135.9deg,  rgba(109,25,252,1) 16.4%, rgba(125,31,165,1) 56.1%);
}

#navbar a:hover {
    background-color: rgb(248, 238, 255);
}

#navbar a img {
    margin: -2px 4px;
    width: 1rem;
}

#content {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


#music-player {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    margin-top: 20px;
    color: #AAAAAA;
}

.shadow-card {
    position: relative;
    padding: 20px;
    background-color: white;
    border: 0px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #AAAAAA;
}

#needle {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: darkgray;
    z-index: 1;
    height: 120px;
    width: 6px;
    border: 0px;
    border-radius: 3px;
    transform-origin: 3px 3px;
    transition: transform 0.2s ease-in-out;
}

#control-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

button {
    background-color: Transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: rgb(248, 238, 255);
}

#delete-button {
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
    float: left;
    color: red;
    margin: 5px 10px;
}

#control-buttons img, .header img {
    margin-top: 4px;
    width: 30px;
}

.my-songs {
    max-width: 60%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    align-self: flex-start;
    background-color: #EEEEEE;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    flex-grow: 1;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    max-height: calc(100vh - 240px);
    min-height: calc(100vh - 240px);
    min-width: 400px;
    overflow-y: overlay;
}

.info {
    float: right;
    margin: 5px;
    width: 200px;
}

.info h3, .info h4 {
    color: darkgray;
}

/* Record */

.empty-record, .record {
    position: relative;
    margin: 10px;
    height: 140px;
    width: 140px;
    border-radius: 50%;
}

.empty-record {
    border: 5px solid transparent;
    background-color: rgba(0, 0, 0, 0.05);
}

.record {
    border: 5px solid black;
    /* Gradient https://cssgradient.io/*/
    background: linear-gradient(45deg, rgba(0,0,0) 35%, rgba(78,78,78) 50%, rgba(0,0,0) 65%);
}

.ring {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.dot {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 4px;
    height: 4px;
    background-color: black;
    border-radius: 50%;
}

/* Colors */

.color-sand {
    background-color: bisque;
}

.color-green {
    background-color: lightgreen;
}

.color-blue {
    background-color: dodgerblue;
}

.color-red {
    background-color: red;
}

.color-purple {
    background-color: plum;
}

.color-yellow {
    background-color: gold;
}