@keyframes spin {
    0%  {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}   
}

.row {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

h1, h2, h3 {
    margin-top: 10px;
    margin-bottom: 4px;
}

.menu {
    position: absolute;
    top: 60px;
    left: 2%;
    display: flex;
    flex-direction: column;
    min-width: 172px;
    border-radius: 14px;
    background-color: #F0F0F0;
}

.menu > a {
    text-decoration: none;
    color: black;
    margin: 10px 20px;
    text-align: start;
    transition: all ease-in-out 0.2s;
}

.menu > a:hover {
    color: gray;
}

.menu > .selected {
    color: royalblue;
}

.example {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 10px 20px;
}

#box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 20px;
    padding: 20px;
}

#box > .action {
    width: 200px;
    height: 100px;
}

.radio {
    font-family: Poppins;
    font-size: 12pt;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    box-shadow: none;
}

.radio > img {
    margin-right: 10px;
    height: 12px;
}

pre {
    padding: 20px;
    border-radius: 14px;
    background-color: #F0F0F0;
}

.picture {
    background-image: url("res/placeholder.png");
    background-position: center;
    width: 180px;
    height: 120px;
    padding: 10px;
    border: solid 2px black;
    font-size: 24pt;
    border-radius: 6px;
}

.card {
    background-color: white;
    width: 120px;
    height: 80px;
    padding: 10px;
    border: solid 1px gainsboro;
    box-shadow: 2px 2px 4px gray;
    font-size: 32pt;
    text-align: center;
    border-radius: 10px;
}

.card-2 {
    background-color: gainsboro;
    width: 160px;
    height: 120px;
    border: outset 10px;
    text-align: center;
}

.ball {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.ball > img, .card > img, .card-2 > img {
    height: 100%;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
