html {
    font-family: Poppins, Arial, sans-serif;
    height: 100%;
}

body {
    height: calc(100% - 68px);
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid lightgray;
    font-weight: bold;
    padding: 0px 20px;
}

#navbar #logo {
    font-family: Quicksand;
    margin: 0px;
    text-decoration: none;
    color: black;
    font-size: 18pt;
    font-weight: 700;
}

#navbar #logo > .dark-blue {
    color: #225CAD;
}

#navbar #menu {
    display: flex;
    flex-direction: row;
}

#menu > a {
    height: 100%;
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    transition: all ease-in-out 0.2s;
}

#menu > a:hover {
    color: #225CAD;
}

.content {
    width: 70%;
    flex: 1 0 0;
}

footer {
    color: slategray;
    flex-shrink: 0;
}

footer > a {
    color: slategray;
    text-decoration: none;
}

#footer > a:hover {
    color: darkgray;
}