html {
    font-family: Poppins, Arial, sans-serif;
    height: 100%;
}

body {
    height: calc(100% - 68px);
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid lightgray;
    font-weight: bold;
    padding: 0px 20px;
    z-index: 10;
}

#navbar #logo {
    font-family: Quicksand;
    margin: 0px;
    text-decoration: none;
    color: black;
    font-size: 18pt;
    font-weight: 700;
}

#navbar #logo > .dark-blue {
    color: #225CAD;
}

#navbar #menu {
    display: flex;
    flex-direction: row;
}

h1, h2, h3 {
    margin-top: 10px;
    margin-bottom: 4px;
}

#menu > a {
    height: 100%;
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    transition: all ease-in-out 0.2s;
}

#menu > a:hover {
    color: #225CAD;
}

.content {
    width: 66%;
    flex: 1 0 0;
}

.navigation {
    position: absolute;
    top: 60px;
    left: 2%;
    display: flex;
    flex-direction: column;
    min-width: 172px;
    border-radius: 14px;
    background-color: #F0F0F0;
}

.navigation > a {
    text-decoration: none;
    color: black;
    margin: 10px 20px;
    text-align: start;
    transition: all ease-in-out 0.2s;
}

.navigation > a:hover {
    color: gray;
}

.navigation > .selected {
    color: royalblue;
}

a {
    color: royalblue;
    transition: color ease-in-out 0.2s;
}

a:active {
    color: mediumpurple;
}

pre {
    padding: 20px;
    font-size: 10pt;
    border-radius: 14px;
    background-color: #F0F0F0;
}

.code {
    margin: 10px 20px;
}

code {
    font-size: 12pt;
}

footer {
    padding-top: 12px;
    padding-bottom: 4px;
    color: slategray;
    flex-shrink: 0;
}

footer > a {
    color: slategray;
    text-decoration: none;
}

#footer > a:hover {
    color: darkgray;
}